* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    }

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.paragrafo{
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

h1{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 88px;
}

h2{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 66px;
}

h3{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

h4{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 37px;
}

h5{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 28px;
}

h6{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 21px;
}

.m-32{
    margin-bottom: 32px;
}

.m-92{
    margin-bottom: 92px;
}

.m-192{
    margin-bottom: 196px;
}

.m-256{
    margin-bottom: 256px;
}

a{
    color: #1B1E1B;
}

a:hover{
    color:  #2BFEA9;
}



.animoBorderCenter{display:inline-block;position:relative;cursor:pointer}.animoBorderCenter::after{content:'';position:absolute;left:50%;bottom:-3px;width:60%;height:3px;opacity:0;background:radial-gradient(69.09% 152.66% at 13.64% 49.09%, #37FD3F 0%, #2BFEA9 100%);transform:translate(-50%,0);transition:all .3s ease-in-out}.animoBorderCenter:hover::after{width:100%;opacity:1}
        


/* HEADER */

.header{
    width: 85%;
    padding: 20px 0;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.logo{
    justify-self: flex-start;
    align-self: center;
}

.menu-nav{
    justify-self: center;
    align-self: center;
}

.incones-redes-sociais{
    justify-self: flex-end;
    align-self: center;
    text-decoration: none;
    color: #1B1E1B;
    color: none;
}

.logo{
    width: 32px;
    height: 32px;
}

.menu-nav a{
   text-decoration: none;
   margin: 0 16px;
   color: #1B1E1B;
}

.incones-redes-sociais i{
    margin: 0 16px;
}

hr{
    color:  rgba(42, 53, 42, 0.25);
}

/* MAIN */

.hero-area{
    margin: auto;
    margin-top: 64px;
    margin-bottom: 256px;
    width: 85%;
    display: grid;
}

.hero-area h3{
    justify-self: center;
    margin-bottom: 32px;
    color: #37FD3F;
}

.hero-area h1{
    justify-self: center;
    color: #1B1E1B;
    text-align: center;
}

.hero-area p.paragrafo{
    width: 360px;
    margin-top: 32px;
    text-align: center;
    justify-self: center;
    margin-bottom: 96px;
}

.btn-hero-area{
    width: 290px;
    height: 80px;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    padding: 24px 48px;
    gap: 24px;
    background: radial-gradient(69.09% 152.66% at 13.64% 49.09%, #37FD3F 0%, #2BFEA9 100%);
    border: 0;
    color: white;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)) drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198)) drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
}

/* GALERIA */
/* 
.section-galeria{
    margin: auto;
    margin-bottom: 128px;
}

.titulo-galeria{
    width: 85%;
    margin: auto;
    margin-bottom: 32px;
}

.fundo-galeria-1{
    background: url(/Imagens/Fundo-galeria-1.png) no-repeat;
    width: 100%;
    height: 600px;
    background-size: 100% 100%;
    display: flex;
    align-content: center;
}

.fundo-galeria-1-portifolio{
    background: url(/Imagens/Fundo-galeria-1.png) no-repeat;
    width: 100%;
    height: 600px;
    background-size: 100% 100%;
    margin-bottom: 128px;
    display: flex;
    align-content: center;
}

.items-galeria-1{
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 40%;
    gap: 24px;
}

.imagem-1{
    width: 600px;
    justify-self: center;
}

.textos-galeria-1{
    max-width: 350px;
    align-self: center;
    justify-self: center;
    text-align: center;
    color: white;
}

.btn-galeria-1{
    width: 280px;
    height: 80px;
    border-radius: 100px;
    justify-self: center;
    padding: 24px 48px;
    border: 0;
    color: white;
    background-color: #ED4124;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)) drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198)) drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
}

.fundo-galeria-2{
    background: url(/Imagens/fundo-galeria-2.png) no-repeat;
    width: 100%;
    height: 650px;
    background-size: 100% 100%;
    display: flex;
    align-content: center;
}

.fundo-galeria-2-portifolio{
    background: url(/Imagens/fundo-galeria-2.png) no-repeat;
    width: 100%;
    height: 650px;
    background-size: 100% 100%;
    display: flex;
    align-content: center;
    margin-bottom: 128px;
}

.titulo-galeria-2{
    width: 85%;
    margin: auto;
}

.items-galeria-2{
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    
}

.imagem-2{
    width: 500px;
    justify-self: center;
}

.textos-galeria-2{
    max-width: 350px;
    align-self: center;
    text-align: center;
    justify-self: center;
    color: white;
}

.btn-galeria-2{
    width: 280px;
    height: 80px;
    border-radius: 100px;
    justify-self: center;
    padding: 24px 48px;
    border: 0;
    color: white;
    background-color: #4671C6;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)) drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198)) drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
}

.fundo-galeria-3{
    background: url(/Imagens/fundo-galeria-3.png) no-repeat;
    width: 100%;
    height: 650px;
    background-size: 100% 100%;
    display: flex;
    align-content: center;
}

.fundo-galeria-3-portifolio{
    background: url(/Imagens/fundo-galeria-3.png) no-repeat;
    width: 100%;
    height: 650px;
    background-size: 100% 100%;
    margin-bottom: 128px;
    display: flex;
    align-content: center;
}

.titulo-galeria-3{
    width: 85%;
    margin: auto;
}

.items-galeria-3{
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    padding-bottom: 32px;
}

.imagem-3{
    width: 500px;
    justify-self: center;
}

.textos-galeria-3{
    max-width: 350px;
    align-self: center;
    text-align: center;
    justify-self: center;
    color: white;
}

.btn-galeria-3{
    width: 280px;
    height: 80px;
    border-radius: 100px;
    justify-self: center;
    padding: 24px 48px;
    border: 0;
    color: white;
    background-color: #A93752;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)) drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198)) drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
} */

.contatos{
    display: grid;
    width: 85%;
    margin: auto;
    margin-bottom: 128px;
}

.contatos-textos{
    width: 600px;
}

.btn-contatos{
    width: 280px;
    height: 80px;
    border-radius: 100px;
    justify-self: center;
    padding: 24px 48px;
    border: 0;
    color: white;
    background: radial-gradient(69.09% 152.66% at 13.64% 49.09%, #37FD3F 0%, #2BFEA9 100%);
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)) drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198)) drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
}

.footer{
    width: 85%;
    padding: 20px 0;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-select{
    align-self: center;
    border: none;
    color: #1B1E1B;
}

.galeria{
    width: 65%;
    height: 100vh;
    margin: auto;
    border: 5px solid #1B1E1B;
}

.projeto-base{
    background-image: url(/Imagens/Top\ 16\ Mobile\ UI_UX\ Design\ Trends\ to\ Rule\ in\ 2022.png);
    background-size: contain;
    width: 200px;
    height: 150px;
    border-radius: 10%;
}

.projeto-portifolio{
    background-image: url(/Imagens/10\ Awesome\ Web\ Developer\ Portfolios.png);
    background-size: contain;
    width:  300px;
    height: 200px;
    border-radius: 10%;
}

.modal-ativo{
    display: block;
}

.modal-container1,.modal-container2{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
}

.modal{
    width: 85%;
    height: 100vh;
    margin: auto;
    display: grid;
    justify-content: center;
    overflow-y: auto;
    background: white;
}
